<div class="container">
    <form [formGroup]="newForm4">
        <div class="mb-2 mt-3">Other Details</div>
        <div class="row">
        <div class="form-group col-md-4 col-lg-3 col-sm-6">
            <label >Documents</label></div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <h3>Statement of Financial position</h3>
                <input type="file" formControlName="Statement" >
            
        </div><br>
        <div class="form-group col-md-4 col-lg-3 col-sm-6">
 
                <h3>ID Document #1</h3>
                <input type="file" formControlName="Id1" >
            
        </div>
        <div class="form-group col-md-4 col-lg-3 col-sm-6">
 
                <h3>ID Document #2</h3>
                <input type="file" formControlName="Id2" >
            
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 col-lg-3 col-sm-6">
            <label >Additional Files</label></div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <h3>Additional File #1</h3>
                <input type="file" formControlName="Add1" >
            
        </div><br>
        <div class="form-group col-md-4 col-lg-3 col-sm-6">
 
                <h3>Additional File #2</h3>
                <input type="file" formControlName="Add2" >
            
        </div> 
    </div>
    </form>
    <button class="btn btn-warning" routerLink="">First Page</button>&nbsp;
    <button class="btn btn-secondary" routerLink="/formThree">Previous Page</button>&nbsp;
    <button class="btn btn-primary" routerLink="/thanks" (click)="dataForm4()" >Submit</button>&nbsp;
</div>